.box h2 {
  color:white;
  text-shadow:0px 0px 5px black;
  padding-left:5%;
  padding-top:3.5%
  /* opacity:0; */
}

.box p {
  color:white;
  text-shadow:0px 0px 10px black;
  padding-left:5%;
  /* opacity:0; */
}
.box {
  height:33.5vh;
}

body {
  background-color:black
}
#modalPar {
  justify-content:left;
}

.box {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

p, h2 {
  transition: .5s ease;
  opacity: 0;
}

.box:hover {
  opacity: 0.8;
}

.box:hover p, .box:hover h2 {
  opacity: 1.5;
}

#modalPar {
  opacity:1;
  font-size:2em;
}

.modalBody {
  height:60vh;
  overflow-y:scroll;
}

.modalStyle {
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  height:98vh;
}

#rating {
  color:white;
}

.row {
  margin-right:0px;
}

/* Width */
::-webkit-scrollbar {
  width:5px
}

/* Track */
::-webkit-scrollbar-track {
  background:rgba(221, 221, 221, .25);
  border-radius:15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(175, 175, 175, 0.5);
  border-radius:15px;
}

::-webkit-scrollbar-thumb:hover {
  background:rgba(128, 128, 128, 0.746);
}

/* MOVIE IMAGES */
/* Castle In The Sky */
#movie1 {
  background-image:url('assets/castleInTheSky.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Grave of Firflies */
#movie2 {
  background-image:url('assets/graveOfFireflies.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* My Neighbor Totoro */
#movie3 {
  background-image:url('assets/myNeighborTotoro.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Kiki's Delivery Service */
#movie4 {
  background-image:url('assets/kikisDeliveryService.jpeg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Only Yesterday */
#movie5 {
  background-image:url('assets/onlyYesterday.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Porco Rosso */
#movie6 {
  background-image:url('assets/porcoRosso.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Pom Poko */
#movie7 {
  background-image:url('assets/ponPoko.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Whisper of the Heart */
#movie8 {
  background-image:url('assets/whisperOfTheHeart.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Princess Mononoke */
#movie9 {
  background-image:url('assets/princessMononoke.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* My Neighbors the Yamadas */
#movie10 {
  background-image:url('assets/myNeighborsTheYamadas.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Spirited Away */
#movie11 {
  background-image:url('assets/spiritedAway.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* The Cat Returns */
#movie12 {
  background-image:url('assets/theCatReturns.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Howl's Moving Castle */
#movie13 {
  background-image:url('assets/howlsMovingCastle.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Tales from Earthsea */
#movie14 {
  background-image:url('assets/talesFromEartsea.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Ponyo */
#movie15 {
  background-image:url('assets/ponyo.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Arriety */
#movie16 {
  background-image:url('assets/arriety.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* From Up on Poppy Hill */
#movie17 {
  background-image:url('assets/fromUpOnPoppyHill.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* The Wind Rises */
#movie18 {
  background-image:url('assets/theWindRises.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* The Tale of Princess Kaguya */
#movie19 {
  background-image:url('assets/theTaleOfPrincessKaguya.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* When Marnie was There */
#movie20 {
  background-image:url('assets/whenMarnieWasThere.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}